@(tasks: List[Task], taskForm: Form[models.Task])(implicit messages: Messages)

@import helper._

@main("Todo List") {

	<h1> @tasks.size task(s) </h1>

	<ul>
		@tasks.map { task =>
			<li>
				@task.label<br/>
				@task.description
				@form(routes.HomeController.deleteTask(task.id.get.stringify)){
					<input type="submit" value = "Delete">
				}
				@form(routes.HomeController.markTaskActive(task.id.get.stringify)){
					<input type="submit" value = "Mark Active">
				}
				@form(routes.HomeController.markTaskDone(task.id.get.stringify)){
					<input type="submit" value = "Mark Done">
				}
				@form(routes.HomeController.markTaskDisabled(task.id.get.stringify)){
					<input type="submit" value = "Mark Disabled">
				}
				<br>
			</li>
		}
	</ul>

	<h2> Add new Task </h2>
	@form(routes.HomeController.newTask){
		@inputText(taskForm("label"))
		@inputText(taskForm("description"))
		<input type="submit" value = "Create">
	}

}
